@media all and (max-width: 770px) {
	:host {
		width: 90%;
		margin: 5% 5%;
	}
}
@media all and (min-width: 771px) {
	:host {
		width: 450px;
		margin: 25px 25px;
	}
}


:host {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
::content h1 {
	color: gray;
}

paper-ripple {
	height: 340px;
	color: gray;
}